{% load static %}
<div id="footer" class="row w-100 m-0 pb-5">
    <div class="on-pc w-100 row">
        <div class="col-4">
            <div class="d-flex justify-content-center align-items-center">
                <div>
                    {% include '_logo.html' %}
                    <p class="mt-4">Terms and Conditions</p>
                    <p>Privacy Policy</p>
                    <div class="text-cus-secondary">&copy; 2020 GivingPilot</div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-4">
                    <p class="text-uppercase text-cus-secondary">Giving Pilot</p>
                    <p>Why Us</p>
                    <p>Our Story</p>
                    <p>Contact</p>
                </div>
                <div class="col-4">
                    <p class="text-uppercase text-cus-secondary">How it works</p>
                    <p>Onboarding Process</p>
                    <p>Fundraising Navigator</p>
                    <p>Crowdfunding</p>
{#                    <p>Peer to Peer</p>#}
                </div>
                <div class="col-4">
                    <p class="text-uppercase text-cus-secondary">Journeys</p>
                    <p>Discoveries</p>
                    <p>Plan Your Journey</p>
                    <div class="d-flex justify-content-between" style="max-width: 100px">
                        <a class="" href="#">
                            <div class="facebook"><i class="fab fa-facebook-f"></i></div>
                        </a>
                        <a class="" href="#">
                            <div class="twitter"><i class="fab fa-twitter"></i></div>
                        </a>
                        <a class="" href="#">
                            <div class="linkedin"><i class="fab fa-linkedin-in"></i></div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="on-mobile w-100">
        <div class="d-flex flex-column text-center">
            <div class="d-flex justify-content-center mb-5">
                {% include '_logo.html' %}
            </div>
            <p class="text-cus-secondary text-uppercase border-top p-4 m-0 ml-5 mr-5">Giving Pilot</p>
            <p class="text-cus-secondary text-uppercase border-top p-4 m-0 ml-5 mr-5">How it works</p>
            <p class="text-cus-secondary text-uppercase border-top p-4 m-0 ml-5 mr-5">Journeys</p>
            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-between" style="min-width: 100px">
                    <a class="" href="#">
                        <div class="facebook"><i class="fab fa-facebook-f" style="font-size: 26px"></i></div>
                    </a>
                    <a class="" href="#">
                        <div class="twitter"><i class="fab fa-twitter" style="font-size: 26px"></i></div>
                    </a>
                    <a class="" href="#">
                        <div class="linkedin"><i class="fab fa-linkedin-in" style="font-size: 26px"></i></div>
                    </a>
                </div>
            </div>
            <p class="mt-4">Terms and Conditions</p>
            <p>Privacy Policy</p>
            <p class="text-cus-secondary">&copy; 2020 Giving Pilot</p>

        </div>


    </div>
</div>
